export(as.ifile,
  as.pfile,
  as.wcmd,
  as.winsteps,
  getcolors,
  ifile,
  lines.rief,
  lines.riif,
  lines.rirf,
  pfile,
  plot.ifile,
  plot.rief,
  plot.riif,
  plot.rirf,
  plot.rtef,
  plot.rtif,
  plot.rtrf,
  print.wcmd,
  print.winsteps,
  read.ifile,
  read.pfile,
  read.wcmd,
  read.wdat,
  rief,
  riif,
  rirf,
  rtef,
  rtif,
  rtrf,
  trim,
  varcheck,
  wcmd,
  winsteps,
  write.wcmd,
  write.wdat)